body{
    display: block;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: auto;
}
#haunts{
    font-size: 35px;
    font-weight: bold;
    width: 50%;
    border: 2px solid cornflowerblue;
}
#foot{
    border: 2px solid cornflowerblue;
}
.title, a, h1{
    border: 2px solid cornflowerblue;
    margin: 5px;
    padding: 3px;
    display: flex;   
    align-content: center;
    justify-content: space-between;
    justify-content: flex-start;
}
h5{
    border: 2px solid cornflowerblue;
    margin: 2px;
}
.li, ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main{
    border: 2px solid cornflowerblue;
    margin: 5px;
    padding: 3px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.footer{
    border: 2px solid cornflowerblue;
    margin: 5px;
    padding: 3px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}